<p-toolbar class="justify-content-space-between align-content-center">
  <div class="menu">
    <ul class="d-flex flex-row justify-content-between align-items-center">
      <li *ngFor="let item of menuOptions">
        <a [routerLink]="['/pages']" [fragment]="item.url">{{ item.name }}</a>
      </li>
    </ul>
  </div>

  <div class="search d-flex justify-content-center align-items-center">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
      <input class="search-input" type="text" pInputText />
    </p-iconField>
  </div>

  <div class="icons d-flex align-items-center justify-content-between">
    <button pButton class="custom-button" label="ES" severity="secondary"></button>
    <i class="pi pi-spin pi-bell" style="font-size: 1.5rem"></i>
    <i class="pi pi-spin pi-cog" style="font-size: 1.5rem"></i>
    <p-inputSwitch
      [(ngModel)]="checked"
      (click)="onThemeChange(checked ? 'light' : 'dark')"
    ></p-inputSwitch>
  </div>
  
</p-toolbar>
